section.poll
  .poll-graphic
    //- Graphic goes here
  .poll-details
    .poll-question
    .poll-options
      .poll-item
        input(type='text' placeholder='Your option here')
        input(type='button' value='Delete option')
      .poll-options-setting
        input(type='button' value='Add option')
