form.form
  h2 Login
  .credentials.login
    input(name='email' type='email' placeholder='JohnDoe14' required)
    input(name='password' type='password' placeholder='Password' required)
  .submits
    input(type='submit' value='Login')
    input(type='button' value='Cancel' )
