form.form
  h2 Sign up
  .credentials.signup
    input(name='username' type='text' placeholder='Username' required)
    input(name='email' type='email' placeholder='Email' required)
    input(name='password' type='password' placeholder='Password' required)
  .submits
    input(type='submit' value='Login')
    input(type='button' value='Cancel')
